<!DOCTYPE html>
{% extends "My_Books/base.html" %}
   {% block body_block %}
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'My_Books/show.css' %}">
   <body>
     <h1> ALL DONE !</h1>
     {% for detail in uForm %}
     <table>
       <tr>
         <th>Book Name</th>
         <th>Author</th>
         <th>Genre</th>
         <th>Language</th>
         <th>Status</th>
       </tr>
       <tr>
         <td>{{ detail.book_name }}</td>
         <td>{{ detail.author_name }}</td>
         <td>{{ detail.genre }}</td>
         <td>{{ detail.language }}</td>
         <td>ADDED</td>
       </tr>
     </table>
     {% endfor %}
   </body>

   {% endblock %}
